.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 90px 0px;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #f0f2f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.logo{
    padding: 0px 0px 20px 0px;
    width: 327px;
    margin: -31px;
}
.left{
    padding-right: 60px;
    width: 500px;
    line-height: 32px;
    font-size: 1.5em;
}
.right{
    padding-bottom: 50px;
}
.left h2{
    font-weight: normal;
    margin-block-end: initial;
    margin-block-start: initial;
}
.container{
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    margin-bottom: 35px ;
}
.input{
    padding: 6px 0;
    font-size: 17px;
    padding: 14px 16px;
    width: 365px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin-bottom: 15px; 
}
.login{
    background-color: #1877f2;
    color:#fff;
    width: 365px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    margin-bottom: 15px;
}
.forgotten{
    text-decoration :none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.container hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 290px;
}
.create{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
}
.create a{
    width:50px;
}
.create{
    text-decoration :none;
}
.undercontainer{
    display: flex;
    justify-content: center;
    font-size: small;
}
.undercontainer a{
    text-decoration :none;
    font-weight: 800;
    color:black;
}